.toggleContainer {
  border: solid 1px var(--color-gray);
  border-radius: 28px;
  cursor: pointer;
  display: flex;
  height: max-content;
  justify-content: space-between;
  padding: 3px;
  width: 80px;
}

.toggleContainer span{
  margin: 4px 8px;
}

.toggleContainer .toggleSwitch {
  background-color: var(--color-gray);
  border-radius: 50%;
  height: 27px;
  width: 27px;
}

.toggleContainer.toggleOn .toggleSwitch {
  background-color: var(--color-primary);
  border-radius: 50%;
  height: 27px;
  width: 27px;
}